.page{
    background-color: #F5F5F5;
    /* font-family: 'Helvetica Neue', Arial, sans-serif; */
    font-family: "Lato", "Inter", Arial, Helvetica, sans-serif;
}

/* *{
    border: 1px solid rgb(194, 133, 41);
} */