.slider__title{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 115px;
    text-transform: uppercase;
    margin: 0;
}

@media screen and (max-width:924px){
    .slider__title{
        font-size: 64px;
    }
}