.footer__title{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    margin: 0 0 18px;
    /* text-align: center; */
}

@media screen and (max-width:768px){
    .footer__title{
        font-size: 24px;
    }
}