.container__items{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 160px;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

@media screen and (max-width:924px){
    .container__items{
        gap: 60px;
    }
}

@media screen and (max-width:740px){
    .container__items{
        flex-direction: column;
        padding-bottom: 36px;
    }
}