.about__logo{
    font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 47px;
    line-height: 56px;
    text-transform: uppercase;
    margin: 0 0 11px;
}