.lead__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width:924px){
    .lead__list{
        grid-column: -2;
        grid-row-start: 1;
        grid-row-end: 3;
        /* margin-right: 79px; */
        row-gap: 12px;
    }
}

@media screen and (max-width:360px){
    .lead__list{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 15px;
    }
}